@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;

  margin: 70px auto;

  width: 80%;

  font-family: "Poppins", sans-serif;
}

h1 {
  color: black;

  text-align: center;

  font-size: 70px;
  font-weight: 700;

  margin-bottom: 20px;
}

summary {
  list-style-type: "+ ";

  font-size: 20px;

  margin-bottom: 10px;

  padding: 10px 0 10px 30px;

  border: 1px solid black;
  border-radius: 30px;
}

ul {
  list-style-type: "—  ";

  padding: 25px;

  width: 100%;

  margin: -10px auto 20px;
}

@media (min-width: 900px) {
  body {
    background-color: white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 60%;

    margin-top: 0;

    font-family: "Poppins", sans-serif;
  }
}
